@{
    ViewBag.Title = "About Page";
}
<h2>About The Online Learning Resources</h2>
<div style="margin: 50px;">
    
    <p>This web application helps you to plan and control your online learning activities. You can register in system with your email and password.</p>
    <p>After you have registered, you can create your own Learning Plans, which will be visible only to you.</p>
    <p>You can add as many study courses to the Plans as you want. You can manage your Plan anytime adding or removing courses.</p>
    <p>Plan how much time you are going to spend for studying. Add courses considering their duration in days. Supply them with real links to their locations in the web.</p>
    <p>Whole Plan duration is calculated from its courses durations. You can easily adjust these values as well as web links to courses in case of need.</p>
    <p>After you Start the course, visual indicator will show your progress on this course depending on days remaining from start date.</p>
    <p>Application email service will send you reminding notifications periodically. You can adjust frequency of notifications recieving. Or turn it off at all.</p>
    <p>Besides, you can store any interesting web courses you have found not adding it to any Plan. Just for future.</p>
</div>

 <p style="margin: 50px;">Think of what you've always planned to learn and just start!</p>